@model ContentManager.ViewModels.EditableTourViewModel
@using System.Collections.ObjectModel
@*@model HoloTour.Models.TourModel*@


@using (Html.BeginForm())
{
    @Html.EditorFor((ContentManager.ViewModels.EditableTourViewModel)Model, "TourTemplate") 

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
