@using ContentManager.ViewModels
@model IEnumerable<TourWpfViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewBag.Title = "Content Index";
}

<h2>Content -- Index</h2>

<p>Hello from our Content View Template!</p>

@foreach (var tour in Model)
{
    <div>
        <div>
            <img src="data:image/png;base64,@(Html.Raw( Convert.ToBase64String(tour.ImageBytes)))" alt="@tour.Name" />
        </div>
        <div>
            @tour.Name
        </div>


    </div>
}