@using ContentManager.ViewModels

@model IEnumerable<EditableTourViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewBag.Title = "Content Index";
}

<h2>Content -- Index</h2>

<p>Hello from our Content View Template!</p>

<div  class="blueberry" >
    <ul class="slides">
        @foreach (var tour in Model)
        {
            
            <li><img src="data:image/png;base64,@(Html.Raw( Convert.ToBase64String(tour.ImageBytes)))" alt="@tour.Name" 
                      onclick="location.href='@Url.Action("Tour", "ContentManagement",new { tourId = tour.Id })'"/></li>
            
            @*@tour.Name*@

        }
        </ul>
        <ul class="pager">
            @foreach (var tour in Model)
            {

                <li><a href="#"><span>@tour.Name</span></a></li>

                @*@tour.Name*@

            }
        </ul>

</div>






@section scripts {
    <script type="text/javascript">
    @*<script>*@
        $(document).ready(function () {
            jQuery(function ($) {
                //debugger;
                //http://marktyrrell.com/labs/blueberry/
                $('.blueberry').blueberry();
            });
        });

      
    </script>
}