@using ContentManager.ViewModels
@model TourWpfViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("SaveTour", "ContentManagement", FormMethod.Post))
{
    @Html.EditorFor(tour => tour, templateName: (string)"TourTemplate")

    <div class="col-md-2">
        <input type="submit" value="Save" class="btn btn-default"  />

        @*onclick="location.href='@Url.Action("SaveTour", controllerName: "ContentManagement")'"*@
    </div>
}
